header {
  background-color: aqua;
  display: flex;
}

header > * {
  flex: auto;
}

header > aside {
  flex: 1;
  max-width: 100px;
}

header > aside > img {
  width: 100px;
}

header > div {
  text-align: center;
}

/* Set images in events list max width */
main img {
  max-width: 150px;
}
